/* == Breadcrumb == */
.wojo.breadcrumb {
  font-family: 'WojoSansRegular';
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: .875em;
  color: #939599;
}
.wojo.breadcrumb:first-child {
  margin-top: 0;
}
.wojo.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.wojo.breadcrumb .divider {
  display: inline-block;
  opacity: 0.5;
  font-size: 0.667em;
}
.wojo.breadcrumb .divider:before {
  content: "//";
}
.wojo.breadcrumb a.section {
  cursor: pointer;
  color: #1CA8DD;
  padding: .5em 1em;
}
.wojo.breadcrumb a.section:hover {
  color: #2A2D33;
}
.wojo.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: .5em 1em;
}
.wojo.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.wojo.breadcrumb .active.section {
}
/* == Variations == */
.wojo.small.breadcrumb {
  font-size: .75em;
}
.wojo.large.breadcrumb {
  font-size: 1.1em;
}
.wojo.huge.breadcrumb {
  font-size: 1.3em;
}
