/* == Form == */
.wojo.form {
  position: relative;
  max-width: 100%
}
.wojo.form :first-child {
}
.wojo.form :last-child {
}
/* == Content == */
.wojo p.note,
.wojo p.error,
.wojo p.success,
.wojo p.info {
  font-size: .85em;
  margin-top: .85em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: .5em;
  color: rgba(0,0,0,0.85)
}
.wojo p.error {
  color: #d25b5b
}
.wojo p.success {
  color: #9ACA40
}
.wojo p.info {
  color: #1CA8DD
}
/* == Field == */
.wojo.form .field {
  clear: both;
  margin: 0 0 1em;
  position: relative
}
.wojo.form .field:after {
  content: '';
  display: table;
  clear: both
}
/* == Label == */
.wojo.form .field label.input,
.wojo.form .field label.textarea {
  position: relative;
  margin: 0;
}
.wojo.form .field label:not(.input) {
  margin: 0 0 .9em;
  display: block;
  font-family: 'WojoSansBold';
  color: #2F323A;
}
.wojo.form .field label:not(.input) i.icon {
  font-size: 1rem;
  margin-left: .45em;
  color: #1CA8DD;
}
.wojo.form .field label.radio,
.wojo.form .field label.checkbox {
  text-transform: none;
  margin: 0;
  font-variant: normal;
  font-size: 1em;
}
/* == Inputs == */
.wojo.form textarea,
.wojo.form select,
.wojo.form input[type=text],
.wojo.form input[type=email],
.wojo.form input[type=date],
.wojo.form input[type=password],
.wojo.form input[type=number],
.wojo.form input[type=tel],
.wojo.form .wojo.input {
  width: 100%;
  font-family: 'WojoSansLight';
}
.wojo.form textarea,
.wojo.form input[type=text],
.wojo.form input[type=email],
.wojo.form input[type=date],
.wojo.form input[type=password],
.wojo.form input[type=number],
.wojo.form input[type=tel],
.wojo.form .fileinput > input {
  margin: 0;
  padding: .85em 0;
  font-size: 1rem;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #DADDDE;
  outline: none;
  color: #939599;
  border-radius: 0;
  -webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
  transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
}
/* == File Input == */
.wojo.form .fileinput {
  display: table;
  width: 100%;
  color: #576077;
  font-size: 1em;
}
.wojo.form .fileinput > a {
  cursor: pointer;
  text-align: right;
  display: table-cell;
  white-space: nowrap;
  background-color: #fff;
  border-bottom: 2px solid #DADDDE;
  border-left: 0;
  padding: .85em 0;
  border-radius: 0;
  vertical-align: middle;
  cursor: pointer;
}
.wojo.form .fileinput a label.btn.btn-default:hover {
  color: #1CA8DD;
}
.wojo.form .fileinput a label.btn.btn-default {
  margin: 0;
  cursor: pointer;
  font-family: 'WojoSansLight';
  color: #939599;
}
.wojo.form .fileinput a label.btn.btn-default i.icon {
  vertical-align: top;
  color: #939599;
}
.wojo.form .fileinput > input {
  display: table-cell;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0;
  outline: none;
  border-radius:0;
  width: 100%;
  vertical-align: middle;
  opacity: 1!important;
}
/* == Image Select == */
.ezdz-dropzone {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: table;
  text-align: center;
  background-color: #fff;
  border: 1px solid #DADDDE;
  border-radius: .188em;
  padding: 1px;
}
.ezdz-dropzone.large {
  width: 100%;
  height: 100%;
}
.ezdz-dropzone > div {
  display: table-cell;
  vertical-align: middle;
  max-width: 100px;
  max-height: 100px;
}
.ezdz-dropzone.large > div {
  width: 100%;
  height: 100%;
}
.ezdz-dropzone span {
  display: inline-block;
  max-width: 90%;
  padding: 4%;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
  line-height: 10px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  background: black;
  border-radius: 20px
}
.ezdz-dropzone img {
  max-width: 100px;
  max-height: 100%;
  vertical-align: middle;
  border-radius: .188em;
}
.ezdz-dropzone.large img {
  max-width: 100%;
  max-height: 100%;
}
.ezdz-dropzone [type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0
}
.ezdz-focus,
.ezdz-dropzone:hover {
  color: #9ACA40;
  border: 1px solid #9ACA40;
}
.ezdz-accept {
  color: #1CA8DD;
  border: 1px solid #1CA8DD;
}
.ezdz-enter {
  color: #9ACA40;
  border: 1px solid #9ACA40;
}
.ezdz-reject {
  color: #d25b5b;
  border: 1px solid #d25b5b;
}
.wojo.textarea,
.wojo.form textarea {
  line-height: 1.33;
  min-height: 8em;
  height: 12em;
  max-height: 24em;
  border-radius: 0;
  resize: vertical
}
.wojo.form textarea,
.wojo.form input[type="checkbox"] {
  vertical-align: top
}
/* == Select Box  == */
.selecter {
  position: relative;
  display: block;
  margin: 0;
  z-index: 1;
  max-width: 100%;
}
.selecter:focus {
  box-shadow: none;
  outline: none;
}
.selecter,
.selecter * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.selecter,
.selecter *,
.selecter *:before,
.selecter *:after {
  box-sizing: border-box;
}
.selecter-element {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.selecter-element,
.selecter-element:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.no-opacity .selecter-element {
  left: -999999px;
}
.selecter-selected {
  position: relative;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #DADDDE;
  color: #939599;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.85em 0;
  text-overflow: clip;
  z-index: 2;
  border-radius: em;
}
.selecter-selected:after {
  font-family: 'WojoIcons';
  content: "\e051";
  position: absolute;
  top: .85em;
  right: 0;
  color: #DADDDE
}
.no-touch .selecter-selected:hover {
  color: #333333;
}
.no-touch .selecter.disabled .selecter-selected:hover {
  color: #cccccc;
}
.selecter-options {
  width: 100%;
  max-height: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #9ACA40;
  border-width: 0 2px 2px;
  display: none;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  z-index: 50;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.selecter-options.scroller {
  position: absolute;
}
.no-opacity .selecter-options {
  width: auto;
}
.selecter-group {
  border-bottom: 1px solid #DADDDE;
  color: #939599;
  display: block;
  font-size: .75em;
  font-family: 'WojoSansRegular';
  padding: .75em 1em;
  text-transform: uppercase;
}
.selecter-item {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #DADDDE;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  padding: 0.85em 1.2em;
  text-decoration: none;
  text-overflow: ellipsis;
}
.selecter-item.placeholder {
  display: none;
}
.selecter-item.selected {
  background-color: #F9FAFA;
  color: #1CA8DD;
}
.selecter-item.disabled {
  color: #999999;
  cursor: default;
}
.selecter-item:first-child {
  border-radius: 0;
}
.selecter-item:last-child {
  border-bottom: 0;
  border-radius: 0 0 .188em .188em;
}
.no-touch .selecter-item:hover,
.no-touch .selecter-item.selected:hover {
  color: #333333;
  background-color: #cccccc;
}
.selecter-item:not(.selected):hover {
  color: #939599;
}
.selecter-item.disabled,
.no-touch .selecter-item.disabled:hover {
  color: #cccccc;
  background-color: #ffffff;
}
.selecter.open {
  z-index: 3;
}
.selecter.open .selecter-selected {
  z-index: 51;
  border-radius: .188em .188em 0 0;
}
.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
  background-color: #fff;
  border-color: #9ACA40
}
.selecter.cover .selecter-options {
  border-width: 2px;
  top: 0;
  border-radius: .188em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.selecter.cover .selecter-options .selecter-item.first {
  border-radius: .188em .188em 0 0;
}
.selecter.cover.open .selecter-selected {
  z-index: 49;
  border-radius: .188em .188em 0 0;
}
.selecter.bottom .selecter-options {
  top: auto;
  bottom: 100%;
  border-width: 1px 1px 0;
}
.selecter.bottom .selecter-item:last-child {
  border: none;
}
.selecter.bottom.open .selecter-selected {
  border-radius: 0 0 .188em .188em;
}
.selecter.bottom.open .selecter-options {
  border-radius: .188em .188em 0 0;
}
.selecter.bottom .cover .selecter-options {
  top: auto;
  bottom: 0;
}
.selecter.bottom .cover.open .selecter-selected {
  border-radius: .188em;
}
.selecter.bottom .cover.open .selecter-options {
  border-radius: .188em;
}
.selecter.multiple .selecter-options {
  width: 100%;
  position: static;
  border-width: 2px;
  display: block;
  border-radius: .188em;
  box-shadow: none;
}
.selecter.disabled .selecter-selected {
  background: #ffffff;
  border-color: #e6e6e6;
  color: #cccccc;
  cursor: default;
}
.selecter.disabled .selecter-options {
  background: #ffffff;
  border-color: #e6e6e6;
}
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  border-color: #e6e6e6;
  color: #cccccc;
  cursor: default;
}
.selecter.disabled .selecter-item.selected,
.no-touch .selecter.disabled .selecter-item.selected:hover {
  background: #fafafa;
}
.selecter.disabled .selecter-item,
.no-touch .selecter.disabled .selecter-item:hover {
  color: #cccccc;
  background-color: #ffffff;
}
.selecter-options.scroller {
  overflow: hidden;
}
.selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0;
}
.selecter-options.scroller .scroller-bar {
  border: 1px solid #DADDDE;
  border-width: 0 0 0 1px;
}
.scrollbox {
  height: 500px;
}
.scrollbox.small {
  height: 200px;
}
.scroller {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.scroller,
.scroller * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.scroller,
.scroller-content,
.scroller-bar,
.scroller-track,
.scroller-handle {
  box-sizing: border-box;
}
.scroller-content {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scroller-content::-webkit-scrollbar, 
.scroller-content::-webkit-scrollbar-button, 
.scroller-content::-webkit-scrollbar-track, 
.scroller-content::-webkit-scrollbar-track-piece, 
.scroller-content::-webkit-scrollbar-thumb, 
.scroller-content::-webkit-scrollbar-corner, 
.scroller-content::-webkit-resizer {
 background: transparent;
 opacity: 0;
}
.scroller .scroller-content {
  padding-right: 1em;
}
.scroller-bar {
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  display: none;
}
.scroller-track {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  transition: all 250ms;
}
.scroller-active:hover .scroller-track {
  opacity: 1;
  transition: all 50ms;
}
.scroller-handle {
  width: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 2;
  background-color: #F5F7F7;
  border: 1px solid #DADDDE;
  border-radius: 2px;
  cursor: pointer;
}
.scroller-horizontal .scroller-content {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 16px 0;
}
.scroller-horizontal .scroller-bar {
  width: 100%;
  height: 16px;
  top: auto;
  bottom: 0;
  border-width: 1px 0 0 0;
}
.scroller-horizontal .scroller-handle {
  width: 20px;
  height: 10px;
  top: auto;
  right: auto;
  bottom: 3px;
}
.scroller-setup .scroller-content,
.scroller-active .scroller-content {
}
.scroller-setup .scroller-bar,
.scroller-active .scroller-bar {
  display: block;
}
/* == Radio Checkbox == */
.radio,
.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 2.5em;
}
.checkbox {
  padding-left: 3em;
}
.radio.small,
.checkbox.small {
  padding-left: 1em;
}
.radio.fitted,
.checkbox.fitted {
  padding-left:0;

}
.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0
}
.radio input,
.checkbox input {
  position: absolute;
  left: -9999px;
  line-height: 1
}
.radio i,
.checkbox i {
  font-family: "WojoIcons";
  position: absolute;
  top: -50%;
  margin-top: .2em;
  left: 0;
  display: block;
  outline: none;
  font-style: normal;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.radio.fitted i,
.checkbox.fitted i {
  top:0;
  margin-top:0;
}
.radio input + i:after,
.checkbox input + i:after {
  text-align: center;
  font-size: 2rem;
  color: #BFBFC2;
}
.radio.small input + i:after,
.checkbox.small input + i:after {
  font-size: 1rem;
}
.radio input + i:after {
  content: '\e109'
}
.checkbox input + i:after {
  content: '\e130';
}
.checkbox input:checked + i:after {
  content: '\e132';
  color: #1CA8DD;
}
.radio input:checked + i:after {
  content: '\e10a';
  color: #1CA8DD
}
/* == Switch == */
.wojo-checkbox.wojo-checkbox-enabled {
  cursor: pointer;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.wojo-checkbox.wojo-checkbox-enabled:focus {
  box-shadow: none;
  outline: none;
}
.wojo-checkbox,
.wojo-checkbox:after,
.wojo-checkbox:before,
.wojo-checkbox *,
.wojo-checkbox *:after,
.wojo-checkbox *:before {
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.wojo-checkbox:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1
}
.wojo-checkbox-element {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.no-touch .wojo-checkbox-element {
  left: -99999px;
}
.wojo-checkbox-marker {
  width: 20px;
  height: 20px;
  background-color: #F5F7F7;
  border: 2px solid #DADDDE;
  border-radius: .188em;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.wojo-checkbox.small .wojo-checkbox-marker {
  border-radius: .188em;
  border: 1px solid #DADDDE;
}
.wojo-checkbox-focus .wojo-checkbox-marker {
  border-color: #DADDDE;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.wojo-checkbox-disabled {
  cursor: default;
  opacity: 0.5;
}
.wojo-checkbox-disabled .wojo-checkbox-label {
  cursor: default;
}
.wojo-checkbox-disabled .wojo-checkbox-marker {
  border-color: #DADDDE;
  cursor: default;
}
.wojo-checkbox-toggle {
  position: relative;
  display: inline-block;
}
.wojo-checkbox-toggle .wojo-checkbox-label {
  line-height: 40px;
}
.wojo-checkbox-toggle .wojo-checkbox-marker {
  width: 100px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 3px;
}
.wojo-checkbox.small.wojo-checkbox-toggle .wojo-checkbox-marker {
  width: 80px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
}
.wojo-checkbox-toggle .wojo-checkbox-marker:after {
  clear: both;
  content: '';
  display: table;
}
.wojo-checkbox-toggle .wojo-checkbox-flag {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1CA8DD;
  border: 2px solid #DADDDE;
  border-radius: .188em;
  display: block;
  margin: 0;
  -webkit-transition: left 0.15s ease;
  transition: left 0.15s ease;
}
.wojo-checkbox.small.wojo-checkbox-toggle .wojo-checkbox-flag {
  border: 2px solid #F5F7F7;
  border-radius: .188em;
}
.wojo-checkbox-toggle .wojo-checkbox-flag:before {
  display: none;
}
.wojo-checkbox-toggle .wojo-checkbox-flag:after {
  width: 2px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 3px 0 0 #ffffff, -3px 0 0 #ffffff;
  content: '';
  margin: auto;
  opacity: 0.75;
}
.no-touch .wojo-checkbox-toggle:hover .wojo-checkbox-flag:after {
  opacity: 1;
}
.wojo-checkbox-toggle.wojo-checkbox-checked .wojo-checkbox-flag {
  left: 50%;
  background: #1CA8DD;
}
.wojo-checkbox-toggle.wojo-checkbox-checked .wojo-checkbox-flag:before {
  display: none;
}
.wojo-checkbox-toggle.wojo-checkbox-disabled .wojo-checkbox-flag:after {
  display: none;
}
.wojo-checkbox-toggle .wojo-checkbox-state {
  width: 50%;
  display: block;
  margin: 0;
  text-align: center;
  color: #909294;
  font-family: 'WojoSansBold';
  font-size: .875em;
}
.wojo-checkbox-toggle .wojo-checkbox-state_on {
  float: left;
}
.wojo-checkbox-toggle .wojo-checkbox-state_off {
  float: right;
}
/* == Range Slider == */
.wojo-range {
  width: 100%;
}
.wojo-range,
.wojo-range:after,
.wojo-range:before,
.wojo-range *,
.wojo-range *:after,
.wojo-range *:before {
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.wojo-range-element {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.no-touch .wojo-range-element {
  left: -9999px;
}
.wojo-range-track {
  width: 100%;
  height: 8px;
  position: relative;
  background-color: #E1E4E9;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255,255,255,1);
  border-radius: .188em;
  float: left;
  margin: 10px 0;
}
.wojo-range-handle {
  width: 1px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  display: block;
  overflow: visible;
}
.wojo-range-selection {
  background-color: #1CA8DD;
  height: 8px;
  border-radius: .188em;
}
.wojo-range-marker {
  width: 20px;
  height: 20px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  cursor: pointer;
  display: block;
  margin: -6px 0 0 -6px;
  background-color: #FFFFFF;
}
.no-touch .wojo-range:hover .wojo-range-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}
.no-touch .wojo-range:hover .wojo-range-marker {
  background: #ccc;
  border-color: #999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.wojo-range-focus .wojo-range-track {
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255,255,255,1);
}
.wojo-range-focus .wojo-range-marker {
  background: #ccc;
  border-color: #999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.wojo-range-labels .wojo-range-track {
  width: 76%;
}
.wojo-range-label {
  width: 10%;
  display: block;
  font-size: .75em;
  font-family: 'WojoSansRegular';
  line-height: 2.5em;
}
.wojo-range-label_min {
  float: left;
  margin: 0 2% 0 0;
  text-align: right;
}
.wojo-range-label_max {
  float: right;
  margin: 0 0 0 2%;
  text-align: left;
}
.wojo-range-vertical {
  height: 300px;
  width: 30px;
}
.wojo-range-vertical .wojo-range-track {
  width: 8px;
  height: 75%;
  margin: 0 11px 0;
}
.wojo-range-vertical .wojo-range-handle {
  width: 100%;
  height: 1px;
  top: auto;
  bottom: 0;
  left: 0;
}
.wojo-range-vertical .wojo-range-marker {
  margin: -7px 0 0 -4px;
}
.wojo-range-vertical .wojo-range-label {
  clear: both;
  float: none;
  height: 10%;
  text-align: center;
  width: 100%;
}
.wojo-range-vertical .wojo-range-label_min {
  padding: 5px 0 0;
}
.wojo-range-vertical .wojo-range-label_max {
  padding: 0;
}
.wojo-range-disabled {
  cursor: default;
  opacity: 0.5;
}
.wojo-range-disabled .wojo-range-disc {
  cursor: default;
}
/* == Color Picker == */
.wojo.color-picker {
  position: relative;
}
.wojo.color-picker .color-wrap {
  position: absolute;
  width: 100%;
  top: 3.65em;
  background-color: #F5F7F9;
  border: 2px solid #D4D7DA;
  padding: .5em;
  border-radius: .188em;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.05);
  display: none;
}
.wojo.color-picker .spectrum {
  position: relative;
  background: linear-gradient(gray, transparent), linear-gradient(90deg, red, #ff2b00, #ff5500, #ff8000, #ffaa00, #ffd500, yellow, #d4ff00, #aaff00, #80ff00, #55ff00, #2bff00, lime, #00ff2b, #00ff55, #00ff80, #00ffaa, #00ffd5, cyan, #00d4ff, #00aaff, #007fff, #0055ff, #002bff, blue, #2a00ff, #5500ff, #7f00ff, #aa00ff, #d400ff, magenta, #ff00d4, #ff00aa, #ff0080, #ff0055, #ff002b, red);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}
.wojo.color-picker .spectrum.active {
  cursor: none;
}
.wojo.color-picker .spectrum.active .pin {
  cursor: none;
}
.wojo.color-picker .spectrum > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.wojo.color-picker .spectrum .pin {
  position: absolute;
  cursor: move;
}
.wojo.color-picker .luminosity {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.wojo.color-picker .format {
  display: block;
  margin: 0 auto 10px auto;
}
.wojo.color-picker .spectrum {
  height: 150px;
  overflow: hidden;
  border-radius: .188em;
  width: 100%;
  margin-bottom: 1em;
}
.wojo.form input[type="text"].color.dark {
  color: rgba(255, 255, 255, 0.7);
}
.wojo.color-picker .spectrum .pin {
  margin-left: -1em;
  margin-top: -1em;
  width: 1em;
  height: 1em;
  border: 2px solid white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  bottom: 0
}
.wojo.color-picker .luminosity {
  margin: 0;
}
/* == Append/Prepend Icons  == */
.wojo .icon-append,
.wojo .icon-prepend,
.wojo .captcha-append {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  text-align: center;
  color: #BFBFC2
}
.wojo .icon-append,
.wojo .captcha-append {
  right: 0
}
.wojo .icon-prepend {
  left: 0
}
.wojo .captcha-append {
  top: .5em
}
.wojo .input .icon-append + input,
.wojo .textarea .icon-append + textarea {
  padding-right: 2em
}
.wojo .input .icon-prepend + input,
.wojo .textarea .icon-prepend + textarea,
.wojo .input .icon-prepend + .icon-append + input,
.wojo .textarea .icon-prepend + .icon-append + textarea {
  padding-left: 2em
}
/* == Dividers == */
.wojo.form .divider {
  clear: both;
  margin: 1em 0
}
.wojo.form .fitted.divider {
  margin-left: -1em;
  margin-right: -1em;
}
/* == States == */
.wojo.form input[type="text"]:focus,
.wojo.form input[type="email"]:focus,
.wojo.form input[type="date"]:focus,
.wojo.form input[type="password"]:focus,
.wojo.form input[type="number"]:focus,
.wojo.form input[type="url"]:focus,
.wojo.form input[type="tel"]:focus,
.wojo.form textarea:focus {
  color: #576077;
  border-color: #9ACA40;
  -webkit-appearance: none;
  background-color: #fff;
}
.wojo.form input:focus + .wojo.corner.label {
  border-color: transparent;
  color: #9ACA40
}
.wojo.form.warning .warning.message {
  display: block
}
.wojo.form.error .error.message {
  display: block
}
.wojo.form .fields.error .field label,
.wojo.form .field.error label,
.wojo.form .fields.error .field .input,
.wojo.form .field.error .input {
  color: #d25b5b
}
.wojo.form .fields.error .field .corner.label,
.wojo.form .field.error .corner.label {
  border-color: transparent;
  color: #d25b5b
}
.wojo.form .fields.error .field textarea,
.wojo.form .fields.error .field input[type="text"],
.wojo.form .fields.error .field input[type="email"],
.wojo.form .fields.error .field input[type="date"],
.wojo.form .fields.error .field input[type="password"],
.wojo.form .fields.error .field input[type="number"],
.wojo.form .fields.error .field input[type="url"],
.wojo.form .fields.error .field input[type="tel"],
.wojo.form .field.error textarea,
.wojo.form .field.error input[type="text"],
.wojo.form .field.error input[type="email"],
.wojo.form .field.error input[type="date"],
.wojo.form .field.error input[type="password"],
.wojo.form .field.error input[type="number"],
.wojo.form .field.error input[type="url"],
.wojo.form .field.error input[type="tel"] {
  background-color: #fff;
  border-color: #d25b5b;
  color: #d25b5b;
}
.wojo.form .field.error textarea:focus,
.wojo.form .field.error input[type="text"]:focus,
.wojo.form .field.error input[type="email"]:focus,
.wojo.form .field.error input[type="date"]:focus,
.wojo.form .field.error input[type="password"]:focus,
.wojo.form .field.error input[type="number"]:focus,
.wojo.form .field.error input[type="url"]:focus,
.wojo.form .field.error input[type="tel"]:focus {
  border-color: #d25b5b;
  color: #d25b5b;
  -webkit-appearance: none;
}

/* == Placeholders == */
.wojo.form ::-webkit-input-placeholder {
color:#B4B4B4
}
 .wojo.form ::-moz-placeholder {
color:#B4B4B4
}
 .wojo.form :focus::-webkit-input-placeholder {
ccolor: #B4B4B4;
}
 .wojo.form :focus::-moz-placeholder {
color: #B4B4B4;
}
 .wojo.form .error ::-webkit-input-placeholder {
color:#d25b5b
}
 .wojo.form .error ::-moz-placeholder {
color:#d25b5b
}
 .wojo.form .error :focus::-webkit-input-placeholder {
color:#d25b5b
}
 .wojo.form .error :focus::-moz-placeholder {
color:#d25b5b
}
.wojo.form .field :disabled,
.wojo.form .field.disabled {
  opacity: 0.75
}
.wojo.form .field.disabled label {
  opacity: 0.75
}
.wojo.form .field.disabled :disabled {
  opacity: 1
}
.wojo.form .field.disabled input {
  opacity: 1;
  background-color: #ECEFEF;
  padding: .85em 1em;
}
/* == Loading == */
.wojo.form.loading {
  position: relative;
}
.wojo.form.loading:after {
  position: absolute;
  border-radius: .188em;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/loader-large.gif);
  background-color: rgba(255,255,255,0.85);
  visibility: visible
}
/* == Fluid == */
.wojo.form.fluid {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
/* == Groups == */
.wojo.form .grouped.fields {
  margin: 0 0 1em
}
.wojo.form .grouped.fields .field {
  display: block;
  float: none;
  margin: .5em 0;
  padding: 0
}
/* == Fields == */
.wojo.form .fields {
  clear: both
}
.wojo.form .fields.fitted .field {
  margin: 0
}
.wojo.form .fields:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}
.wojo.form .fields > .field {
  clear: none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
.wojo.form .fields > .field:first-child {
  border-left: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
.wojo.form .two.fields > .fields,
.wojo.form .two.fields > .field {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%
}
.wojo.form .three.fields > .fields,
.wojo.form .three.fields > .field {
  width: 33.333%;
  padding-left: 1%;
  padding-right: 1%
}
.wojo.form .four.fields > .fields,
.wojo.form .four.fields > .field {
  width: 25%;
  padding-left: 1%;
  padding-right: 1%
}
.wojo.form .five.fields > .fields,
.wojo.form .five.fields > .field {
  width: 20%;
  padding-left: 1%;
  padding-right: 1%
}
.wojo.form .fields .field:first-child {
  padding-left: 0
}
.wojo.form .fields .field:last-child {
  padding-right: 0
}
/* == Inline == */
.wojo.form .inline-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1
}
.wojo.form .inline-group {
  margin-bottom: 1.2em
}
.wojo.form .inline-group label.radio,
.wojo.form .inline-group label.checkbox,
.wojo.form .inline-group label.input {
  float: left;
  margin-right: 20px
}
.wojo.form .inline.fields .field {
  min-height: 1.3em;
  margin-right: .5em
}
.wojo.form .inline.fields .field > label,
.wojo.form .inline.fields .field > p,
.wojo.form .inline.fields .field > input,
.wojo.form .inline.field > label,
.wojo.form .inline.field > p,
.wojo.form .inline.field > input {
  display: inline-block;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle
}
.wojo.form .inline.fields .field > input,
.wojo.form .inline.field > input {
  font-size: .875em
}
.wojo.form .inline.fields .field > :first-child,
.wojo.form .inline.field > :first-child {
  margin: 0 .5em 0 0
}
.wojo.form .inline.fields .field > :only-child,
.wojo.form .inline.field > :only-child {
  margin: 0
}
/* == Size == */
.wojo.small.form textarea,
.wojo.small.form .chosen-container,
.wojo.small.form input[type="text"],
.wojo.small.form input[type="email"],
.wojo.small.form input[type="date"],
.wojo.small.form input[type="password"],
.wojo.small.form input[type="number"],
.wojo.small.form input[type="url"],
.wojo.small.form input[type="tel"],
.wojo.small.form label {
  font-size: .875em
}
.wojo.small.form .chosen-container-single .chosen-single {
  font-size: .875em
}
.wojo.small.form .icon-append,
.wojo.small.form .icon-prepend,
.wojo.small.form .captcha-append {
  top: 50%;
}
.wojo.large.form {
  font-size: 1.125em
}
.wojo.form.fitted {
  padding: 0
}
/* == Editable Content == */
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
[contenteditable=true] {
  background-color: #EAF4F8;
}
[data-editable=true]:before {
  font-family : "WojoIcons";
  content: "\e14b";
  margin-right: .5em;
  vertical-align: middle;
  opacity: .35
}
span[data-editable=true] {
  display:inline-block;
  padding:.5em;
}
.wojo.editable {
  box-shadow: inset 0 0 0 2px #9ACA40, 0 0 3px 2px rgba(0,0,0,0.1);
  outline: none;
  border: 0;
  -webkit-appearance: none;
  background-color: #fff;
  color: #2F323A;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
.wojo.form .two.fields > .fields,
 .wojo.form .two.fields > .field,
 .wojo.form .two.fields.inline-block > .field:first-child,
 .wojo.form .two.fields.inline-block > .field:last-child,
 .wojo.form .three.fields > .fields,
 .wojo.form .three.fields > .field,
 .wojo.form .four.fields > .fields,
 .wojo.form .four.fields > .field,
 .wojo.form .five.fields > .fields,
 .wojo.form .six.fields > .field,
 .wojo.form .inline.fields > .field,
 .wojo.form .inline.fields > .field > label {
  float: none;
  width: 100%;
  diplay: block;
  padding-left: 0;
  padding-right: 0;
}
.wojo.form .fields.fitted .field {
  margin: 0 0 1em;
}
.wojo.form .fields .field:first-child,
 .wojo.form .fields .field:last-child {
  padding-left: 0;
  padding-right: 0;
}
}
