@font-face {
  font-family: 'WojoSansThin';
  src: url('../fonts/WojoSansThin.woff') format('woff'), url('../fonts/WojoSansThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansExtraLight';
  src: url('../fonts/WojoSansExtraLight.woff') format('woff'), url('../fonts/WojoSansExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansLight';
  src: url('../fonts/WojoSansLight.woff') format('woff'), url('../fonts/WojoSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansRegular';
  src: url('../fonts/WojoSansRegular.woff') format('woff'), url('../fonts/WojoSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansDemi';
  src: url('../fonts/WojoSansDemi.woff') format('woff'), url('../fonts/WojoSansDemi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansBold';
  src: url('../fonts/WojoSansBold.woff') format('woff'), url('../fonts/WojoSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'WojoSansExtraBold';
  src: url('../fonts/WojoSansExtraBold.woff') format('woff'), url('../fonts/WojoSansExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
 unicode-range: U+0020-25CA;
}
html,
body {
  font-size: 16px;
}
body {
  font-family: "WojoSansRegular", ​Arial, ​sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333645;
  text-rendering: optimizeLegibility;
  background-color: #EFEFEF;
  overflow-x: hidden;
}
a,
a.inverted {
  cursor: pointer;
  color: #1CA8DD;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none
}
a:hover,
a.hover,
a:focus {
  color: #d25b5b;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
a.inverted,
p.inverted {
  color: #fff;
}
a.inverted:hover,
a.inverted.hover,
a.inverted:focus {
  color: #1CA8DD;
}
a.shadow {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border-radius: .250em;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
a.shadow:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
header {
  background-color: #333645;
  color: #fff;
  padding: 1em;
}
header .topnav .navitem {
  display: inline-block
}
header .topnav .navitem:last-child {
  float: right
}
#crumbs {
  padding: .5em;
  border-bottom: 1px solid #E2E2E2;
}
#crumbs span {
  float: right;
  margin-top: .25em;
  margin-right: 1em;
}
.mnav {
  display: none;
  float: right;
}
nav {
  position: relative;
  text-align: center;
  display: inline-block;
  margin-left: 1em;
}
nav ul,
nav li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
nav > ul > li {
  position: relative;
  float: left;
}
nav > ul > li > a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1em;
  font-family: 'WojoSansDemi';
}
nav > ul > li > a i.icon {
  font-size: 2em;
}
nav > ul > li > a span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5
}
nav > ul > li > a.active,
nav > ul > li > a.active:hover {
  color: #00AAEF;
}
nav > ul > li > a:hover {
  color: #32B5CB;
}
nav > ul ul {
  display: none;
  background-color: #fff;
  white-space: nowrap;
  position: absolute;
  z-index: 8000;
  left: 0;
  top: 3em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
nav > ul > li.opened ul {
  display: block;
}
nav > ul ul > li {
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
nav > ul ul > li:first-child {
  box-shadow: none;
}
nav > ul ul > li > a {
  display: block;
  padding: .85em 2em;
  font-size: .857em;
  color: #55697C;
  text-align: left;
  font-family: 'WojoSansLight';
}
nav > ul ul > li > a.active {
  color: #1CA8DD
}
nav > ul ul > li > a.active:before {
  content: "- ";
}
nav > ul ul > li > a:hover {
  background-color: #1CA8DD;
  color: #fff
}
#wrap {
  margin: .5em;
  background-color: #FFFFFF;
  padding: 1em;
}
aside {
  width: 200px;
  background-color: #F3F7F7;
}
#suggestions {
  position: absolute;
  width: 100%;
  z-index: 100
}
/* == Masonry == */
#listwrap {
  margin: 0 auto;
}
#listwrap .row {
  float: left;
  margin-bottom: 2em;
}
.iloading {
  bottom: 100px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
footer {
  text-align: center;
  padding: 2em;
  font-family: 'WojoSansLight';
  font-size: .857em;
}

@media screen and (max-width:1024px) {
header .topnav .navitem {
  display: block
}
header .topnav .navitem:last-child {
  float: none;
  margin-top: .5em;
}
}

@media screen and (max-width:769px) {
nav {
  display: none;
  margin-left: 0;
  position: absolute;
  z-index: 10;
  right: 0;
  width: 100%;
  top: 5em;
  background-color: rgba(51,54,69,1.00);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
nav > ul > li {
  position: relative;
  float: none;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
}
nav > ul > li > a {
  text-align: right;
}
nav > ul ul {
  position: relative;
  top: 0;
}
.mnav {
  display: inline-block;
  float: right;
}
.mnav i {
  font-size: 2rem;
}
}
